// Помощники
@import 'mixins/mixins';//миксины scss
@import 'main/stylesheet';// шрифты
@import 'main/parameters';// переменные

//Общее
@import 'main/reset'; // сброс стилей для кроссбраузерности
@import 'main/common'; // общие стили
//@import 'main/grid'; // базовая 12ти колоночная сетка для сайта(сделана на основе bootstrap), классы .container/.row/.col-md-6 и т.д.

// дальше можно писать все стили сайта в этот файл, или писать их в компонентах
.nav {
    width: 29%;
    &__list {
        display: flex;
        padding: 4.3rem 0;
    }
    &__item {
        margin: 0 2rem 0 0;
    }
    &__link {
        font-size: 1rem;
    }
}
.dropdown {
    display: none;
}
.nav2 {
    border-top: 1px solid #333333;;
    width: 100%;
    &__list {
        padding: 4.3rem 0;
    }
    &__item {
        padding-bottom:1.1rem;
    }
    &__link {
        font-family: Gilroy Regular;
        font-size: 1rem;
        line-height: 150%;
        color: #333333;
    }
}
.botton {
    background: #333333;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    font-family: $body-font;
    font-size: 1.28rem;
    line-height: 1.5rem;
    margin: 0px 10px;
}


.container {
    width: 100%;
    max-width: 1110px;
    padding: 0 15px;
    margin:  0 auto;
    text-align: center;
}
.container2 {
    width: 100%;
    max-width: 730px;
    margin:  0 auto;
    padding: 7.1rem 0;
    text-align: center;
}
.header {
    width: 100%;
    background:url(./../imgs/fon.jpg);
    background-repeat:no-repeat;
    background-position: center top;
    
    &__top {
    line-height: 1.5;
    display: flex;
    align-items: center;
    }
    &__logotip {
        padding: 0 4rem 0 8rem;
        margin-right: 1rem;
    }
    &__poisk {
        display: flex;
    }
    &__lupa {
    padding-right: 1.6rem;
    }
    &__text {
        font-size: 1rem;
    }
    &__text2 {
        width: 50%;
        font-size: 1rem;
    }
    &__text21 {
        display: none;
    }
    &__1img {
        padding-left: 1rem;
    }
    &__zag {
        padding-bottom: 3.5rem;
        padding-top: 27rem;
        font-family: $add-font;
        font-size: 2.57rem;
        line-height: 3.5rem;
    }
    &__firms {
        width: 100%;
        margin: 5.71rem 0;
        border-top: 1px solid #FFFFFF;
    }

}

.firm {
    width: 11.42rem;
    height: 4.28rem;
    &__img {
        margin-top: 1.65rem;
    }
}
.second__col {
    margin-top: 0.5rem;
}
.second__col:not(:last-child) {
    border-right: 1px solid #FFFFFF;
}
.mixin {
    display: flex;
    justify-content: center;
}
.section {

    &__zag1 {
        font-family: $body-font;
        font-size: 21px;
        line-height: 140%;
        color: #333333;
    }
    &__zag2 {
        padding: 1rem 0 4.28rem 0;
        font-family: $add-font;
        font-size: 2.14rem;
        line-height: 2.9rem;
        color: #333333; 
    }
    &__produkt {
        padding: 0 0 6rem 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__produkt3, 
    &__produkt2 {
        padding-bottom: 10rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 auto;
        -o-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }
    &__produkt3 {
        justify-content: space-around;
        }
    &__box1 {
        margin-bottom: 1.5rem;
        width: 350px;
        height: 280px;
        background: linear-gradient(180deg, rgba(180, 180, 180, 0) 20.31%, #333333 100%), url(./../imgs/box1.jpg);
        transition: transform ease 0.4s;
        &:hover {
            -o-transform: translateX(20px);
            -ms-transform: translateX(20px);
            -moz-transform: translateX(20px);
            -webkit-transform: translateX(20px);
            transform: translateX(-20px);
        }
    }
    &__box2 {
        margin-bottom: 1.5rem;
        width: 350px;
        height: 280px;
        background: linear-gradient(180deg, rgba(180, 180, 180, 0) 20.31%, #333333 100%), url(./../imgs/box2.jpg);
    }
    &__box3 {
        margin-bottom: 1.5rem;
        width: 350px;
        height: 280px;
        background: linear-gradient(180deg, rgba(180, 180, 180, 0) 20.31%, #333333 100%), url(./../imgs/box3.jpg);
    }
    &__box4 {
        margin-bottom: 1.5rem;
        width: 350px;
        height: 280px;
        background: linear-gradient(180deg, rgba(180, 180, 180, 0) 20.31%, #333333 100%), url(./../imgs/box4.jpg);
    }
    &__box5 {
        margin-bottom: 1.5rem;
        width: 350px;
        height: 280px;
        background: linear-gradient(180deg, rgba(180, 180, 180, 0) 20.31%, #333333 100%), url(./../imgs/box5.jpg);
    }
    &__box6 {
        margin-bottom: 1.5rem;
        width: 350px;
        height: 280px;
        background: linear-gradient(180deg, rgba(180, 180, 180, 0) 20.31%, #333333 100%), url(./../imgs/box6.jpg);
    }
    &__text {
        font-family: $body-font;
        font-size: 1.7rem;
        line-height: 2rem;
        padding-top: 60%;
    }
    &__black {
        margin-bottom: 8.57rem;
        background: url(./../imgs/fon2.png), #333333;
        height: 38.64rem;
        color: #FFFFFF;
    }
    &__black-text1 {
        padding-bottom: 1.07rem;
        font-family: $body-font;
        font-size: 1.5rem;
        line-height: 140%;
    }
    &__black-text2 {
        padding-bottom: 3.21rem;
        font-family: $add-font;
        font-style: normal;
        font-weight: bold;
        font-size: 2.14rem;
        line-height: 2.1rem;
    }
    &__black-text3 {
        padding-bottom: 4.28rem;
        font-family: $body-font;
        font-size: 1.28rem;
        line-height: 140%;
    }
    &__boxs1 {
        margin-top: 2rem;
        padding-top: 2rem;
        width: 350px;
        height: 370px;
        background: linear-gradient(180deg, rgba(180, 180, 180, 0) 0%, #333333 100%), url(./../imgs/boxs1.jpg);
    }
    &__boxs2 {
        margin-top: 2rem;
        padding-top: 2rem;
        width: 350px;
        height: 370px;
        background: linear-gradient(180deg, rgba(180, 180, 180, 0) 0%, #333333 100%), url(./../imgs/boxs2.jpg);
    }
    &__boxs3 {
        margin-top: 2rem;
        padding-top: 2rem;
        width: 350px;
        height: 370px;
        background: linear-gradient(180deg, rgba(180, 180, 180, 0) 0%, #333333 100%), url(./../imgs/boxs3.jpg);
    }
    &__text2 {
        font-family: $body-font;
        font-size: 1.5rem;
        line-height: 140%;
        padding: 60% 15% 10% 15%;
    }
    &__seti {
        padding-bottom: 10.7rem;
    }
    &__video {
        width: 50%;
    }
    &__img {
        width: 25%;
    }
    &__numandpoisk {
        padding-top: 3rem;
        display: flex;
    }
    &__num {
        width: 40%;

    }
    &__n {
        display: flex;
        padding-bottom: 1.1rem;
    }
    &__numtext {
        padding-left: 1rem;
        color: #FFFFFF;
        font-size: 1.28rem;
    }
    &__poisk {
        width: 60%; 
    }
    &__poiskbox {

        width: 100%;
        height: 90%;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
    }
    &__poiskbox2 {
        font-size: 1rem;
        line-height: 1.1rem;
        margin: 5% auto;
        width: 90%;
        height: 60%;
        background: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    &__poiskline {
        margin: 0 0.5rem 0 1rem;
        height: 60%;
        background: #FFFFFF;
        border: 1px solid #D6D6D6;
        box-sizing: border-box;
        color: rgba(51, 51, 51, 0.5);
        
    }
    &__btn {
        height: 60%;
        margin: 0 1rem 0 0;
        background: #333333;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        color: #FFFFFF;
        }
    }
.footer {
    color: #333333;
    font-family: $headers-font;
    font-style: normal;
    font-weight: 500;
    font-size: 1.28rem;
    line-height: 140%;
    &__top {
        width: 100%;
        display: flex;
        text-align: start;
    }
    &__silka {
        margin: 0 1rem 0 1rem;
        width: 30%;
    }
    &__oplata {
        margin: 0 1rem 0 1rem;
        width: 25%;
    }
    &__oplatatext {
        border-top: 1px solid #333333;
        padding: 4rem 0 1.5rem 0;
        font-family: Gilroy Regular;
        font-size: 1rem;
        line-height: 150%;
        color: #333333;
    }
    &__oplatakardimg {
        padding-right: 2rem;
    }
    &__kontakt {
        margin: 0 1rem 0 1rem;
        width: 20%;     
    }
    &__kontacttext {
        font-family: Gilroy Regular;
        font-size: 1rem;
        line-height: 150%;
        color: #333333;
        margin-left: 1rem;
    }
    &__kontaktsilka {
        display: flex;
        align-items: center;
        padding-bottom: 1rem;
    }
    &__kontaktbox {
        border-top: 1px solid #333333;
        padding-top: 4rem;
    }
    &__seti {
        margin: 0 1rem 0 1rem;
        width: 25%;
    }
    &__socseti {
        width: 85%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__bottom {
        border-top: 1px solid #333333;
        padding: 2rem 0;
        font-family: $body-font;
        font-size: 1rem;
        line-height: 150%;
        color: #333333;
        display: flex;
        justify-content: space-between;
    }
}
.btn-outline-dark {
    position:relative;
    width: 15.5%;
    height: 3.92rem;
    background: #F9F9F9;
    border-radius: 0px;
    border: 1px solid #D6D6D6;
    box-sizing: border-box;
    font-family: $body-font;
    font-style: normal;
    font-weight: 500;
    font-size: 1.28rem;
    line-height: 1.5rem;
    &:hover{
        box-shadow: none;
        color: $c-primary;
    }
    &::before {
        background-color: #F9F9F9;
        content:"";
        display:block;
        position:absolute;
        width:100%;
        height:100%;
        padding:1rem;
        left:0.5rem;
        top:0.5rem;
        z-index:-1;
        border-radius: 0px;
        border: 1px solid #D6D6D6;
    }
}
.btn-outline-dark:hover::before {
    display: none;
}
.black-btn {
    box-shadow:none;
    width: 31%;
    &:hover{
        color: $c-primary;
    }
}
.black-btn2 {
    margin-top: -6rem;
    margin-bottom: 8.5rem;
    background: #333333;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    width: 23%;
    height: 3.64rem;
}
@media screen and (max-width: 1024px) {
    .header { 
        &__text2 {
            display: none;
        }
        &__text21 {
            display: inline;
            width: 50%;
            font-size: 1rem;
        }
    }
    .section {
        &__produkt2 {
            justify-content: space-around;
        }
    }
    .nav {
        display: none;
    }  
    .dropdown {
        display: inline;
        width: 70%;
        padding: 2.3rem 0;
        margin-bottom: 0.5rem;
    }
    .header__text {
        display: none;
    }
    .mixin {
        overflow: auto;
    }
    .section__produkt {
        overflow: auto;
    }
    .footer__silka,
    .footer__oplata,
    .footer__seti,
    .footer__kontakt
     {
        width: 40%;
    }
    .footer__top {
        display: flex;
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 768px) {
    .section__img, 
    .header__text21,
    .header__img,
    .header__1img,
    .header__lupa  {
        display: none;
    }
    
    .section__numandpoisk {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section__seti {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header__zag {
        font-size: 2rem;
        line-height: 2.5rem;
    }
    .header__logotip {
        padding: 0;
        margin-left: 50%;
        display: flex;
        justify-content: start;
    }
    .dropdown {
        margin-bottom: 0;
        justify-content: end;
    }
}
@media screen and (max-width: 600px) {
    .header__logotip {
        width: 10rem;
    }
    .black-btn2 {
        width: 10rem;
    }
}
@media screen and (max-width: 500px) {
    .header__logotip {
        width: 8rem;
    }
    .section__black-text3 {
        height: 140px;
        margin-bottom: 2rem;
        overflow: scroll;
    }
    .section__black-text2 {
        padding-bottom: 2rem;
    }
    .section__numandpoisk {
        padding-top: 1rem;
    }
    .footer__silka,
    .footer__oplata,
    .footer__seti,
    .footer__kontakt
     {
        width: 70%;
    }
    .section__video {
        width: 100%;
    }
}
@media screen and (max-width: 400px) {
    .header__logotip {
        width: 5rem;
    }
    .section__produkt {
        display: flex;
        justify-content: center;
    }
}