//- эту часть можно вынести в компонент header
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title OJJO 
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous")
        link(rel="stylesheet", href="./assets/css/app.css")
    body.wrapper 
        header.header
            .container
                .header__top
                    nav.nav 
                        ul.nav__list
                            li.nav__item
                                a(href="#").nav__link  Контрагентам
                            li.nav__item
                                a(href="#").nav__link  Дизайнерам
                            li.nav__item
                                a(href="#").nav__link  Вакансии
                    .dropdown 
                        img(src="./assets/imgs/menu.png", alt="menu" width="75px")
                    img(src="./assets/imgs/logotip.svg", alt="OJJO").header__logotip
                    a(href="#").header__poisk 
                        img(src="./assets/imgs/lupa.svg", alt="lupa").header__lupa
                        h2.header__text Поиск
                    h2.header__text2 Вход/Регистрация
                    h2.header__text21 Вход
                    img(src="./assets/imgs/people.svg", alt="people").header__img
                    img(src="./assets/imgs/love.svg", alt="love").header__1img
                h1.header__zag Долго, дорого, богато!
                button(type="button" class="btn btn-secondary btn-lg").botton каталог изделий
            .header__firms 
                .container
                    mixin firm(img)
                        .second__col 
                                .firm 
                                    .firm__img 
                                        img(src=img, alt="firm")
                    .mixin
                        +firm('./assets/imgs/firm.png')
                        +firm('./assets/imgs/firm.png')
                        +firm('./assets/imgs/firm.png')
                        +firm('./assets/imgs/firm.png')
                        +firm('./assets/imgs/firm.png')
        section.section 
            .container 
                .section__zag1 К мероприятиям
                .section__zag2 Настоящая красота здесь!
                .section__produkt
                    button(type="button" class="btn btn-outline-dark") СВАДЬБА
                    button(type="button" class="btn btn-outline-dark") МУЖУ
                    button(type="button" class="btn btn-outline-dark") ЖЕНЕ
                    button(type="button" class="btn btn-outline-dark") ПАРТНЕРУ
                    button(type="button" class="btn btn-outline-dark") КОЛЛЕКЦИИ
                    button(type="button" class="btn btn-outline-dark") РЕДКОСТЬ
                .section__produkt2
                    .section__box1
                        .section__text КОЛЬЦА
                    .section__box2
                        .section__text СЕРЬГИ
                    .section__box3
                        .section__text ПОДВЕСКИ
                    .section__box4
                        .section__text ЗАПОНКИ
                    .section__box5
                        .section__text БРАСЛЕТЫ
                    .section__box6
                        .section__text ЧАСЫ
            .section__black
                .container2
                    .section__black-text1 Не знаете, что выбрать?
                    .section__black-text2 Посетите наши салоны в Москве
                    .section__black-text3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut duis tortor vitae pellentesque egestas quam pulvinar. Pellentesque porttitor velit sit pellentesque. Suspendisse donec pretium id dignissim. Dignissim ultrices eget orci viverra. Egestas quis et ut ultrices imperdiet lectus nulla tempus. Pharetra lorem sem purus nisi libero viverra ipsum.
                    button(type="button" class="btn btn-outline-dark").black-btn НАШИ САЛОНЫ
            .container 
                .section__zag1 Полезные статьи
                .section__zag2 Лучшие советы по подбору дорогих подарков
                .section__produkt3
                    .section__boxs1
                        .section__text2 Как выбрать часы для своей будущей жены
                    .section__boxs2
                        .section__text2 Запонки для мужа: 7 ключевых правил покупки аксессуара
                    .section__boxs3
                        .section__text2 Как выбрать обручальные кольца молодоженам
                button(type="button" class="btn btn-dark").black-btn2 ЧИТАТЬ НАШ БЛОГ
                .section__zag1 #ojjo_jewerly
                .section__zag2 Мы в социальных сетях 
                .section__seti
                    img(src="./assets/imgs/gallery__video--hover.jpg", alt="video").section__video
                    img(src="./assets/imgs/gallery__image.jpg", alt="img").section__img
                    img(src="./assets/imgs/gallery__image1.jpg", alt="img").section__img
                    img(src="./assets/imgs/gallery__image2.jpg", alt="img").section__img  
                    img(src="./assets/imgs/gallery__image3.jpg", alt="img").section__img 
                    img(src="./assets/imgs/gallery__video.jpg", alt="video").section__video
            .section__black    
                .container2
                    .section__black-text1 Полезные советы и персональный предложения
                    .section__black-text2 Эксклюзивная рассылка
                    .section__numandpoisk 
                        .section__num
                            mixin num(text)
                                .second__col2
                                    .num
                                        a(href="#").section__n
                                            img(src="./assets/imgs/num.png", alt="num" width="17px")
                                            .section__numtext=text 
                            +num('Личный менеджер')
                            +num('Доставка и оформление')
                            +num('Индивидуальный дизайн')
                        .section__poisk
                            .section__poiskbox
                                .section__poiskbox2
                                    input(type="email" placeholder="ВАШ E-MAIL").section__poiskline
                                    input(type="submit" value="ОТПРАВИТЬ" class="btn btn-dark").section__btn
        footer.footer 
            .container 
                .footer__top 
                    .footer__silka ПОЛЕЗНЫЕ ССЫЛКИ
                        nav.nav2 
                            ul.nav2__list
                                li.nav2__item
                                    a(href="#").nav2__link  Доставка
                                li.nav2__item
                                    a(href="#").nav2__link  Оплата 
                                li.nav2__item
                                    a(href="#").nav2__link  Акции
                                li.nav2__item
                                    a(href="#").nav2__link  Политика конфиденциальности
                    .footer__oplata ОПЛАТА
                        .footer__oplatatext Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ullamcorper justo, nec, pellentesque.
                        .footer__oplatakard 
                            img(src="./assets/imgs/visa.png", alt="visa").footer__oplatakardimg 
                            img(src="./assets/imgs/master.png", alt="master")
                    .footer__kontakt КОНТАКТЫ
                        .footer__kontaktbox
                            a(href="tel:88122345655").footer__kontaktsilka
                                img(src="./assets/imgs/phone.png", alt="tel" width="20px" height="20px") 
                                .footer__kontacttext 8 (812) 234-56-55
                            a(href="tel:88122345655").footer__kontaktsilka
                                img(src="./assets/imgs/phone.png", alt="tel" width="20px" height="20px") 
                                .footer__kontacttext 8 (812) 234-56-55
                            a(href="mailto:ojjo@ojjo.ru").footer__kontaktsilka
                                img(src="./assets/imgs/mail.png", alt="tel" width="20px" height="20px") 
                                .footer__kontacttext ojjo@ojjo.ru
                    .footer__seti СОЦИАЛЬНЫЕ СЕТИ
                        .footer__oplatatext Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ullamcorper justo, nec, pellentesque.
                        .footer__socseti
                            img(src="./assets/imgs/youtube.png", alt="youtube")
                            img(src="./assets/imgs/vk.png", alt="vk")
                            img(src="./assets/imgs/facebook.png", alt="facebook")
                            img(src="./assets/imgs/telegram.png", alt="telegram")
                            img(src="./assets/imgs/etsy.png", alt="etsy")
                .footer__bottom 
                    .footer__bottomtext  (c) 2020 OJJO jewelry
                    .footer__bottomtext  Договор публичной офферты
                    .footer__bottomtext  Контрагентам
                    .footer__bottomtext  Сделано Figma.info





