//- эту часть можно вынести в компонент header
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title OJJO 
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous")
        link(rel="stylesheet", href="./assets/css/app.css")
    body.wrapper 
        include components/header
        include components/section
        include components/section-black
        include components/section-art
        include components/section-social
        include components/section-black2
        include components/footer





